/* stucture */
.top-section {
    display: flex;
    border-bottom: 1px solid #000;
}

.left-col {
    flex: 0 0 150px;
}

.center-col {
    flex-grow: 1;
    max-width: 100%;
}

.right-col {
    flex: 0 0 150px;
}

.bottom-section {
    display: flex;
}

.bottom-section .left-block {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.bottom-section .right-block {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
}

.internal-section {
    display: flex;
}

.internal-section .l-60 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
}

.internal-section .r-40 {
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
}
@media(max-width:1024.8px) and (min-height:768px) {
    .top-section .right-col {
        display: none;
    }

    .top-section .center-col {
        border: none;
        justify-content: center;
    }
}

@media(max-width: 767.8px) {

    .top-section>div,
    .bottom-section .left-block,
    .bottom-section .right-block {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .top-section,
    .bottom-section,
    .internal-section {
        flex-wrap: wrap;
    }

    .top-section .right-col {
        display: flex;
    }

    .internal-section .l-60,
    .internal-section .r-40 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .center-col {
        justify-content: center;
    }
}



/* Styling */
.main-section {
    border: 1px solid #000;
}

.left-col {
    border-right: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.right-col {
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
}

.center-col {
    align-items: center;
    display: flex;
    height: 150px;
}

.bottom-section .left-block {
    border-right: 1px solid #000;
}

.bottom-section .right-block {
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
}

.internal-section {
    border-bottom: 1px solid #000;
}

.internal-section .l-60 {
    padding: 10px;
    box-sizing: border-box;
    border-right: 1px solid #000;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.internal-section .r-40 {
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
}

.text {
    padding: 10px;
}

.center-col {
    border-right: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
}

.bottom-section .left-block {
    height: 300px;
}

.center-items {
    text-align: center;
}




/* Styling */
@media(max-width: 767.8px) {

    .top-section>div,
    .bottom-section .left-block,
    .bottom-section .right-block {
        border-right: none;
    }

    .internal-section .l-60 {
        border-right: none;
    }

    .bottom-section .left-block,
    .internal-section .l-60,
    .internal-section .r-40,
    .right-col,
    .left-col,
    .center-col {
        height: auto;
    }
}